aiosqlite==0.21.0
azure-ai-projects==2.0.0b2
azure-identity==1.25.1
fastapi==0.124.0
langchain
langchain-core
langchain-openai
langgraph
pydantic==2.12.5
python-dotenv==1.2.1
python-multipart==0.0.20
uvicorn==0.38.0
